/* Fullscreen Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it covers the whole page */
  }

  .overlay .overlay-content {
    background-color: rgb(248, 247, 240);
    border: 3px solid rgb(156, 34, 34);
    box-shadow: 5px 5px 5px  rgb(156, 34, 34);
    ;
  }

  @media(max-width: 560px) {

    .overlay .overlay-content #result {
      font-size: 3vw;
      padding: 4.5vh 2vh;
      grid-column: 2;
      grid-template: 2vh 6vh / auto auto;
    }

    .overlay .overlay-content #result h2{
      max-width: 10vh;
      max-height: 5vh;
      overflow-y: auto;
    }

    .overlay .overlay-content #result #savebutton {
      font-size: 4vw;
      grid-column: 2;
    }

    img {
      grid-row: span 2;
      grid-column: 1;
    }
  }

  /* Input and button styling */
  input {
    padding: 0.5em;
    margin: 10px;
    width: 80%;
  }
  
  button {
    padding: 0.5em 1em;
    background-color: #ff5e6c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #535bf2;
  }
  
  /* Background blur */
  .blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Apply blur to everything behind the overlay */
    z-index: 999; /* Behind the overlay but above other content */
  }
  
  #results {
    max-height: 50vh;
    overflow-y: auto;
  }

  #result {
    font-size: 1vw;
    display: grid;
    grid-template: auto auto / auto 10vw auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid darkred;
    box-shadow: 2px 2px 2px darkred;
    background-color: white;
    margin: 5px;
  }

  #savebutton {
    max-width: 5vw;
    font-size: 1vw;
  }

  img {
    max-height: 15vh;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
  }

  .overlay .overlay-content {
    padding: 10px;
    border-radius: 10px;
  }
